*{
    margin:0%;
    padding:0%;
    box-sizing:border-box;
    font-family:'Gill Sans';
}
html,body{
    height:100%;
    width:100%;
}
#main{
    height:100%;
    width:100%;
    /* background-color: aqua; */

}
#header{
    height:10vh;
    width:100%;
    
    position:fixed;
    display:flex;
    align-items:center;
    justify-content: space-around;
}
.texts{
    margin:25px;
    color: rgb(11, 2, 38);
    display: flex;
}
#contactDetails{
    /* margin-left:40px; */
    font-weight:lighter;

}
.icon{
    
}
#login{
    display:flex;
    /* margin-left: 20px; */

}
#try{
    /* margin-left: 30px; */
}
#fakeheader{
    height:10vh;
    width:100%;
    background-color:white;
    /* position:fixed; */
}

#page1{
   /* height:90vh; It will adjust any screen dimension*/
    height:90%; 
    width:100%;
    background-color: rgb(53, 147, 67);
}
#page2{
     height:90%; 
    width:100%;
    background-color: rgb(109, 109, 146);
}
 #logo img{
    height:70px;
    width:100%;
    object-fit:cover;
}