*{
    margin:0%;
    padding:0%;
    box-sizing:border-box;
}
html,body{
    height:100%;
    width:100%;
    
}
#main{
    height:100%;
    width:100%;
    background: #775050;
    display:flex;
    align-items: center;
    justify-content: center;

}
.card{
    position: absolute;
    /* top:50%;
    left:50%;
    transform:translate(-50%,-50%); to bring in the center */
    height:300px;
    width:230px;
    border:1px solid salmon;
    border-radius:20px ;
     overflow: hidden;
    
}
#card1:hover{
    z-index:10;
}
#card2:hover{
    z-index:10;
}
#card3:hover{
    z-index:10;
}
#card4:hover{
    z-index:10;
}


#card1{
    z-index:4;
     /* transform:translate(-50%,-50%);  */
     background-color: salmon;
}
#card2{
    z-index:3;
     /* transform:translate(-50%,-50%) rotate (-7deg); */
     rotate:-7deg;
    background-color: blueviolet;

}
#card3{
    z-index:2;
      /* transform:translate(-50%,-50%) rotate (-14deg); */
      rotate:-14deg;
     background-color:royalblue;
    
      
}

#card4{
    z-index:1;
    rotate:-21deg;
    /* transform:translate(-50%,-50%) rotate (-21deg); */
   background-color: bisque;
    
}
img{
    height:100%;
    width:100%;
   
    /* border-radius:20px; */
    object-fit: cover;/*it is used to avoid shink of an image.*/


}